  /* General styles */

  body {
    margin: 0;
    padding: 2px;
    font-family: Arial, sans-serif;
    
  }
  html{
    scroll-behavior: smooth;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    margin: 0 0 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
    /* display: inline; */
    font-size: 20px;
    color: rgb(14, 13, 13);
  }
  
  /* Hero section styles */
  .hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #333;
    color: #fff;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
  }
  
  /* About section styles */
  .about {
    padding: 50px 20px;
    background-color: #f2f2f2;
  }
  
  /* Services section styles */
  .services {
    padding: 50px 20px;
    background-color: #fff;
  }
  
  /* Contact section styles */
  .contact {
    padding: 50px 20px;
    background-color: #f2f2f2;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
 
  
  .developer{
      display: table;
      border: 2px solid red;
      width:50%;
  
  }
  table{
      margin: 3% 0%;
  
  }
  
  .bordertd{
      border: 2px solid rgb(15, 15, 15);
      padding:2%;
      width:20%;
      height:50px;
      word-wrap:break-word;
      font-size:17px;
      /* font-variant: small-caps; */
      font-weight: 600;   
  }
  .bordertd1{
      display: block;
      border: 2px solid rgb(15, 15, 15);
      padding:3%;
      width:193.5%;
      height:125px;
      word-wrap:break-word;
      font-weight: 600;  
      font-size:17px;
      padding-bottom: 5%;
  }
  tr{
      height:100px;
  }
  
  .button{
      text-align: center;
      
  }
  #project-id:hover{
      font-size: 25px;
      transition-duration: 0.4s;
  }
  #project-id{
      text-align: center;
      background-color: #ddd9d9;
      border: 2px solid rgb(20, 19, 19);
      border-radius:9px;
      padding: 1% 2%;
      /* padding: 100px 20px; */
          font-size: 20px;
  
      
  }
  
  .photologo{
  width:25px;
  margin-top:5px;
  padding:2%;
  }
  .photologo:hover{
      transform: scale(1.5);
      transition-duration: 0.5s;
  
  }
  
  .navanchor:hover{
    /* padding: 1%; */
    transform: scale(1.1);
    font-weight: 700;
    text-decoration: underline;
    
  }
  #serviceboxmain{
    display: flex;
    justify-content: center;
    border:2px solid black;
    /* padding:2%; */
    margin: 2%;
  }
  .servicebox{
    border:2px solid black;
    padding:2%;
  }
  
  body{
    /* background-image: url(https://media.istockphoto.com/id/1372399516/vector/dark-blue-defocused-blurred-motion-gradient-soft-abstract-background-vector.jpg?s=612x612&w=0&k=20&c=ulLw1_awuztJ1ujhXSBAjQpI4L5PHuF-RE01zlAQHZ0=); */
    /* background-image: url(https://wallpaperset.com/w/full/4/8/6/60272.jpg);
    background-image: url(https://wallpaperset.com/w/full/9/8/6/60395.jpg);
    background-image: url(https://img.freepik.com/free-vector/cement-wall-texture-background_53876-91519.jpg?w=740&t=st=1685446701~exp=1685447301~hmac=025ce2d820c6b99b1690df755dee8fd966f46b8977ec207b67ec7f1a4ccd8a65);
    background-image: url(https://img.freepik.com/free-vector/textured-background-design_1117-109.jpg?w=740&t=st=1685446762~exp=1685447362~hmac=fc0715f38fad8621fdc9c04286ccb8aeaa28de14cd64c6400176395dc89b8303);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-position:  */
    /* color:white;
    font-weight: bolder; */
    /* background-repeat: x */
    
  }
  .serviceboxbutton{
    background-color: #ddd9d9;
      border: 2px solid rgb(20, 19, 19);
      border-radius:6px;
      text-align: center;
      padding: 1.3%;
    font-size: 16px;
  }
  